
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);
//all option and font sizes
$Fontsize: 22px;
$FontWeight: 500;
$FontWeightedw: 700;
$minWidthMobile: 375px;
$minWidthDesktop: 1220px;
$white: #fff;