@import url("(https://fonts.google.com/specimen/Manrope");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 1440px;
  margin: 14rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.container .left__section {
  z-index: 1;
}

.container .left__section img {
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.container .right__section {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 220px  160px;
      grid-template-rows: 220px  160px;
  margin-left: 6rem;
}

.container .right__section .introduction {
  font-size: 22px;
  text-transform: capitalize;
  color: #48556a;
}

.container .right__section .introduction h1 {
  margin-bottom: 4rem;
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
}

.container .right__section .introduction p {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  margin-top: -2rem;
}

.container .right__section .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container .right__section .footer .michelle__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem;
}

.container .right__section .footer .michelle__section img {
  border-radius: 50%;
  width: 100px;
}

.container .right__section .footer .michelle__section .title {
  margin-left: 1rem;
}

.container .right__section .footer .michelle__section .title h4 {
  margin-bottom: 0.4rem;
  color: #48556a;
  font-size: 22px;
}

.container .right__section .footer .michelle__section .title span {
  color: #9eafc2;
  margin-top: 1rem;
  font-size: 22px;
}

.container .right__section .share__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: relative;
}

.container .right__section .share__section .share__screen {
  opacity: 1 !important;
}

.container .right__section .share__section .social__icons {
  background-color: #48556a;
  padding: 3rem;
  position: absolute;
  top: -100px;
  right: -17%;
  width: 23rem;
  border-radius: 20px;
  height: 6rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.container .right__section .share__section .social__icons span {
  color: #9eafc2;
  font-size: 22px;
  margin-right: 2.2rem;
}

.container .right__section .share__section .social__icons a {
  color: #fff;
}

.container .right__section .share__section .social__icons a .socialzz {
  font-size: 2.5rem;
  margin-left: 0.6rem;
  text-align: center;
  text-decoration: none;
}

.container .right__section .share__section .social__icons .extention {
  width: 3rem;
  height: 3rem;
  background-color: #48556a;
  z-index: 5;
  position: absolute;
  bottom: -18%;
  left: 45%;
  border-bottom-left-radius: 61px;
  border-bottom-right-radius: 19px;
  -webkit-transform: rotate(133deg);
          transform: rotate(133deg);
}

.container .right__section .share__section .share__icon {
  background-color: #9eafc2;
  width: 2.5rem;
  height: 2.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  right: 20%;
  bottom: 40%;
  cursor: pointer;
}

.container .share__screen {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */